@font-face {
  font-family: 'BLOKK';
  src: url('fonts/BLOKKNeue-Regular.eot');
  src: url('fonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/BLOKKNeue-Regular.woff2') format('woff2'),
       url('fonts/BLOKKNeue-Regular.woff') format('woff'),
       url('fonts/BLOKKNeue-Regular.otf') format('opentype'),
       url('fonts/BLOKKNeue-Regular.ttf') format('truetype'),
       url('fonts/BLOKKNeue-Regular.svg#BLOKKRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
      font-family: 'BLOKK';
      src: url('fonts/BLOKKNeue-Regular.svg') format('svg');
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
